@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100vh;
    background-color: #F5E6E3;
    overflow: hidden;
}
.calendar-div{
    width: 100%;
    height: calc(100% - 46px);
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar {
    width: 700px;
    height: auto;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}
#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}
#calendar h1{
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 60px;
}
#prev-month, 
#next-month {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    color: white;
    padding: 5px 8px 7px 8px;
    cursor: pointer;
}
#calendar-container{ 
    height: 600px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(auto-fit, 1fr 2fr);
    margin-bottom: 20px;
}
.item {
    display: grid;
    place-items: center;
    font-family: 'Pretendard';
    font-size: 20px;
}
.item:not(.other-month) {
    cursor: pointer; 
}
.week-name {
    color: #aaa;
    border-bottom: 0.5px solid #ACACAC;
    padding-bottom: 10px;
    font-size: 23px;
    margin-bottom: 10px;
}
.item:nth-child(7n+1){
    color: crimson;
}
.item:nth-child(7n+7){
    color: cornflowerblue;
}
.other-month {
    color: #ddd !important;
}
.box {
    display: none;
}

@media screen and (max-Width:1160px){
    #calendar {
        width: 600px;
    }
    #calendar h1{
        font-size: 40px;
    }
    #calendar-container{
        height: 500px;
    }
    .week-name {
        font-size: 18px;
    }
}   

@media screen and (max-Width:610px){
    #calendar {
        width: 400px;
        margin-bottom: 350px;
    }
    #calendar h1{
        font-size: 25px;
    }
    #calendar-header {
        margin-bottom: 20px;
    }
    #prev-month, 
    #next-month {
        width: 10px;
        height: 13px;
        padding: 0;
    }
    #calendar-container{ 
        height: 350px;
    }
    .week-name {
        font-size: 18px;
    }
    .item {
        font-size: 15px;
    }
    .box {
        width: 100%;
        height: 350px;
        border-radius: 30px 30px 0 0;
        background-color: white;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 12%);
    }
    .bar {
        width: 57px;
        height: 3px;
        background-color: #ACACAC;
        margin-top: 10px;
    }
    .text {
        font-family: 'HakgyoansimChilpanjijgae';
        font-size: 20px;
        margin-top: 20px;
    }
    .text-focus {
        color: #FC4D4D;
    }
    .emotion-box {
        font-family: 'HakgyoansimChilpanjijgae';
        width: 256px;
        height: 34px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        column-gap: 7px;
    }
    .emotion-text {
        margin-right: 4px;
    }
    .emotion-box > img {
        width: 28px;
        height: 28px;
    }
}