@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100vh;
    background-color: #EAEBFF;
}
#main{
    padding-top: 46px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.write>span{
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 25px;
}
.write{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100%;
}
.col{
    color: #ACACAC;
}
.versionColor1{
    color: black;
}
.versionColor2{
    color: #ACACAC;
}
.letterImg{
    height: calc(100% - 28px);
    object-fit: contain;
}
.version , .letter>span{
    font-family: 'Pretendard';
}
.container{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}
.versionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 25px;
    width: 50px;
    height: 230px;
    border-radius: 30px 0 0 30px;
    padding-left: 8px;
    margin-top: 40px;
}
.version{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    background-color: white;
    border: none;
}
.version:hover{
    cursor: pointer;
}
.letterContainer{
    display: grid;
    overflow: auto; 
    scrollbar-width: none;
    grid-template-columns: 1fr; 
    background-color: white;
    border-radius: 30px 0 0 30px;
    border-top: 40px solid white;
    border-bottom: 40px solid white;
    width: 300px;
    row-gap: 30px;
    justify-items: center;
    padding: 10px;
}
.letter{
    flex-shrink: 0;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-Width:1400px){
    #main{
        flex-direction: column;
    }
    .write{
        height: 70%;
    }
    .container{
        height: 30%;
        flex-direction: column;
        padding: 0;
    }
    .write{
        height: calc(100% - 230px);
    }
    .versionContainer{
        flex-direction: row;
        margin-top: 0;
        margin-left: calc(5% + 40px);
        border-radius: 30px 30px 0 0;
        width: 230px;
        height: 50px;
    }
    .version{
        writing-mode: horizontal-tb; 
        text-orientation: mixed;
    }
    .letterContainer{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        overflow: auto;
        height: 230px;
        width: 95% !important;
        margin-left: 2.5%;
        border-radius: 30px 30px 0 0;
        border: none;
        border-left: 40px solid white;
        border-right: 40px solid white;
    }
    .letter , .letter>img{
        width: auto;
        height: 88%;
    }
}
@media screen and (max-Width:805px){
    #main{
        justify-content: space-between;
    }
    .container, .write{
        height: 50%;
    }
    .versionContainer{
        width: 180px;
    }
    .letterContainer{
        display: grid;
        grid-template-columns: 1fr 1fr !important; 
        column-gap: 0;
        border: none;
        border-top: 20px solid white;
        border-bottom: 20px solid white;
        height: 500px;
    }
    .letter , .letter>img{
        width: 90%;
        height: auto;
    }
}