@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

.nav{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 46px;
    background-color: #FFC5BA;
    display: flex;
    justify-content: space-between;
    padding: 0 27px;
}
.navDiv{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    column-gap: 30px;
}
.navItem{
    font-size: 20px;
    color: black;
    font-family: 'HakgyoansimChilpanjijgae';
}
.logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 100%;
}