@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

html {
    background-color: #FFEFEC;
    font-family: 'HakgyoansimChilpanjijgae';
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 246, 246, 0.50);
    z-index: 1;
}

.AllContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.Title {
    font-size: 40px;
    margin-bottom: 15px;
}

.Accent {
    color: #FC4D4D;
}

.SubTitle {
    font-size: 20px;
}

img {
    width: 300px;
    height: 300px;
}

.AllLoginContainer {
    width: 450px;
    height: 260px;
    border-radius: 20px;
    background: rgba(255, 254, 254, 0.93);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    margin-top: 50px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputContainer {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputId, .InputPassword, .ButtonLogin {
    width: 280px;
    border: none;
    font-family: 'Pretendard';
    font-weight: 500;
}

.InputId, .InputPassword {
    font-size: 14px;
    height: 45px;
    background: #F3F3F3;
    color: rgba(0, 0, 0, 0.50);
    padding-left: 8px;
}

.InputId::placeholder, .InputPassword::placeholder {
    font-size: 12px;
}

.ButtonLogin {
    height: 38px;
    font-size: 12px;
    background: #ACACAC;
    color: #Ffff;
    margin-bottom: 8px;
}

.InputId {
    margin-bottom: 15px;
}

.InputPassword {
    margin-bottom: 30px;
}

.InputId:focus, .InputPassword:focus {
    outline: none;
}