@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100vh;
    background-color: #EAEBFF;
    overflow: hidden;
}

#main {
    padding-top: 46px;
    width: 100%;
    height: calc(100vh - 46px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.go {
    position: absolute;
    top: calc(46px + 13px);
    right: 20px;
    color: #ACACAC;
    text-decoration: none;
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 20px;
}

.write>span {
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 25px;
    margin-bottom: 10px;
}

.write {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 50px);
    margin: 0 auto;
}

.letterContainer {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
}

.letterImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.letterContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20 px;

}

.titleInput {
    width: 80%;
    aspect-ratio: 15 / 1;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 22px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Pretendard';
    outline: none;
    border-bottom: 2px solid #ACACAC;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: -156px;
}

.bodyInput {
    font-family: 'Pretendard';
    width: 90%;
    aspect-ratio: 10 / 5;
    max-width: 771px;
    /* height: 60%; */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    resize: none;
}

.bodyInput::-webkit-scrollbar {
    display: none;

}

.titleInput::placeholder,
.bodyInput::placeholder {
    color: #ACACAC;

}


.email {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: rgba(248, 246, 246, 0.50);
}

.emailp  {
    margin-top: -150px;
    margin-right: 280px;
}

.emailp {
    color: #000;
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 8px;
}

.emailtext:focus {
    outline: none;
}

.emailtext {
    width: 302px;
    font-family: 'HakgyoansimChilpanjijgae';
    padding-left: 15px;
    height: 40px;
    border-radius: 50px;
    border: 0.5px solid #C2C2C2;
    background: #FFF;
    font-size: 16px;
}

.emailbutton {
    font-family: 'HakgyoansimChilpanjijgae';
    width: 67px;
    height: 40px;
    border-radius: 50px;
    background: #B8CCFF;
    border: #B8CCFF;
    font-size: 16px;
}

.show {
    display: flex;
}

@media screen and (max-width: 1160px) {
    .titleInput {
        font-size: 28px;
        margin-left: -147px;
    }

    .bodyInput {
        /* width: 85%; */
        font-size: 15px;
    }
}

@media screen and (max-width: 960px) {
    .titleInput {
        font-size: 26px;
        margin-bottom: 10px;
        margin-left: -110px;
    }

    .bodyInput {
        /* width: 80%; */
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .titleInput {
        font-size: 22px;
        margin-left: -50px;
    }

    .bodyInput {
        /* width: 75%; */
        font-size: 13px;
    }
}

@media screen and (max-width :605px) {
    .titleInput {
        font-size: 18px;
        margin-left: -20px;
        /* margin-left: -95px; */
    }

    .bodyInput {
        /* width: 70%; */
        font-size: 12px;
    }
}