@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/font/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100vh;
    background: #FFEFEC;
    overflow: hidden;
}

#main {
    padding-top: 46px;
    width: 100%;
    height: calc(100vh - 27px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.go {
    position: absolute;
    top: calc(46px + 13px);
    right: 20px;
    color: #ACACAC;
    text-decoration: none;
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 20px;
}

.write>span {
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 25px;
    margin-bottom: 10px;
}

.write {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 118px);
    margin: 0 auto;
}

.letterContainer {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
}

.letterImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.letterContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titleInput {
    width: 80%;
    aspect-ratio: 15 / 1;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 22px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Pretendard';
    outline: none;
    border-bottom: 2px solid #ACACAC;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: -156px;
}

.bodyInput {
    font-family: 'Pretendard';
    width: 90%;
    aspect-ratio: 10 / 5;
    max-width: 771px;
    /* height: 60%; */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    resize: none;
}

.bodyInput::-webkit-scrollbar {
    display: none;

}

.titleInput::placeholder,
.bodyInput::placeholder {
    color: #ACACAC;

}

.emojibc {
    display: flex;
    justify-content: center;
}

.emoji {
    display: flex;
    align-items: center;
}

.emojisc {
    width: 656px;
    height: 70px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: -26px;
}

.emoji > img {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    cursor: pointer;
}

.emojip {
    color: #000;
    font-family: 'HakgyoansimChilpanjijgae';
    font-size: 20px;
    font-weight: 600;
}

.emoji > img.good {
    margin-top: -2px !important;
    width: 56px !important;
    height: 56px !important;
}

@media screen and (max-width: 1160px) {
    .titleInput {
        font-size: 28px;
        margin-left: -147px;
    }

    .bodyInput {
        /* width: 85%; */
        font-size: 15px;
    }
}

@media screen and (max-width: 960px) {
    .titleInput {
        font-size: 26px;
        margin-bottom: 10px;
        margin-left: -110px;
    }

    .bodyInput {
        /* width: 80%; */
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .titleInput {
        font-size: 22px;
        margin-left: -50px;
    }

    .bodyInput {
        /* width: 75%; */
        font-size: 13px;
    }

    .emojisc {
        width: 606px;
        height: 62px;
        margin-top: -49px;
}

@media screen and (max-width :637px) {
    .emojisc {
        width: 555px;
        height: 62px;
        margin-top: -89px;
    }
}


@media screen and (max-width :605px) {
    .titleInput {
        font-size: 18px;
        margin-left: -20px;
        /* margin-left: -95px; */
    }

    .bodyInput {
        /* width: 70%; */
        font-size: 12px;
    }

    .emojisc {
        width: 426px;
        height: 62px;
        margin-top: -129px;
        gap: 10px;
    }

    .emojip {
        font-size: 18px;
    }

    .emoji > img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        cursor: pointer;
    }
    
    .emoji > img.good {
        margin-top: -2px !important;
        width: 51px !important;
        height: 51px !important;
    }
}

@media screen and (max-width :550px) {
    .emojisc {
        width: 356px;
        height: 62px;
        margin-top: -159px;
        gap: 5px;
    }

    .emojip {
        font-size: 15px;
    }

    .emoji > img {
        width: 32px;
        height: 32px;
        margin: 0 10px;
        cursor: pointer;
    }
    
    .emoji > img.good {
        margin-top: -2px !important;
        width: 40px !important;
        height: 40px !important;
    }
}